<button (click)="changeTool(DrawerType.RECTANGLE)">RECTANGLE</button>
<button (click)="changeTool(DrawerType.LINE)">LINE</button>
<button (click)="changeTool(DrawerType.POLYGON)">POLYGON</button>


<button (click)="enableDrag()">DRAG</button>
<button (click)="disableDrag()">NO DRAG</button>

<button (click)="enableSelect()">SELECT</button>
<button (click)="disableSelect()">NO SELECT</button>

<button (click)="onDelete()">DELETE</button>

<button (click)="export()">EXPORT</button>
<button (click)="import()">IMPORT</button>

<button (click)="undo()">UNDO</button>
<button (click)="redo()">REDO</button>

<div>
    <label>Stroke-Color</label>
    <input type="color"  (change)="onStrokeChanged($event)">
</div>

<div>
    <label>Color</label>
    <input type="color" (change)="onColorChanged($event)">
</div>


<div id="container"></div>

<router-outlet></router-outlet>
